@import 'utilities.css';
:root {
    --primary: #e84393;
    --dark: #2d3436;
    /* --dark: #dfe6e9; */
    --pure: #FFFFFF;
    --ternary:#b2bec3;
    --secondary: #74b9ff;
    
    
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* smoth all fonts */
  -webkit-font-smotthing: antialiased; 
} 

body{
  font-weight: 'Poppins', sans-sarif;
}

header{
  background: var(--dark);
  /* height: 800px; */
}

.container{
  max-width: 1152;
  padding: 0 10%;
  margin: 0 auto;
}
.logo-image .img{
  height: 5px;
  width: 5px;
}

header nav .left a{
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all .3s ease;
  -webkit-transition: all, 3s;
  -moz-transition: all .3s;
  -ms-transiition:all .3;
  -o-transition:all .3s;
}

header nav .left a:hover{
  color: var(--primary);
}

header nav{
  padding: 2rem 0;
}

header nav .logo-image{
  margin-right: 3rem;
}

.hero .left img{
  width: 400;
}

.hero .right{
  color: var(--pure);
}

.hero .right h6{
  font-size: 1.6rem;
  color:var(--primary);
  margin-bottom: 0.5rem;
}
.hero .right h1{
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span{
  color: var(--primary);
}

.hero .right p{
  line-height: 1.9;
  margin-bottom: 2rem;
}